@import "tailwindcss";

@theme {
  --color-black: oklch(0.2 0.0016 17.29);
  --color-white: oklch(0.98 0.0045 214.33);
  --color-primary: oklch(0.6 0.2327 17.28);
  --color-secondary: oklch(0.55 0.1632 18.03);
  --font-primary: primary;
  --font-secondary: secondary;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
::-webkit-scrollbar {
  display: none;
}
.main-contain {
  height: calc(100vh - 64px);
}

@font-face {
  font-family: primary;
  src: url(../public/assets/fonts/primary.ttf);
}
@font-face {
  font-family: secondary;
  src: url(../public/assets/fonts/secondary.otf);
}